

body {
  width: 50%;
  margin: 0 auto;
  background-color: #e3e1de;
  background-image: url(../image/img3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:inherit;
}

header {
  text-align: center;
}

header h1 {
  font-size: 100px;
  color: #c7a575;
  font-weight: 200;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
  font-size: 17px;
  color: #4ca0c2;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #cccc36ac;
  padding: 7px;
  border-radius: 5px;
  opacity: 0.8;
  font-weight: bold;
}

.task {
  background-color: #173f66;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0.8;
  
}

.task span {
  color: #9fbd31;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #f1efef;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a97373;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  color: #363438;
  background-color: #e7d4d4;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 2%;
}

.button.selected {
  color: #FFF;
  background-color: #31254d;
}

.button:hover {
  background-color: #5c6491;
  color: #241c37;

}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
}



@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  50% { transform: translateX(5px) rotate(5deg); }
  75% { transform: translateX(-5px) rotate(-5deg); }
  100% { transform: translateX(0); }
}

#shaking-trash {
  animation: shake 0.7s ease infinite;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-icon {
  animation: fade-in 3s ease-in-out;
}

